@model ProjectDAA1.mon

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/mons">Môn</a></strong>
                    <small>> Create</small>
                </div>
                <div class="card-body card-block">
                    <form method="post" action="/Admin/mons/Create" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-9">
                                <div class="text-danger">@ViewBag.err</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="mamon">Mã môn</label>
                                            @Html.EditorFor(model => model.mamon, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.mamon, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="tenmon">Tên môn</label>
                                            @Html.EditorFor(model => model.tenmon, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.tenmon, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idmontruoc">Mã và tên môn trước</label>
                                            @Html.DropDownList("idmontruoc", (IEnumerable<SelectListItem>)ViewBag.idmontruoc, "", htmlAttributes: new { @class = "nhutchose form-control" })
                                            @Html.ValidationMessageFor(model => model.idmontruoc, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="hsqt">Hệ số quá trình</label>
                                            @Html.EditorFor(model => model.hsqt, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.hsqt, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="hsth">Hệ số thực hành</label>
                                            @Html.EditorFor(model => model.hsth, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.hsth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="hsgk">Hệ số giữa kỳ</label>
                                            @Html.EditorFor(model => model.hsgk, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.hsgk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="hsck">Hệ số cuối kỳ</label>
                                            @Html.EditorFor(model => model.hsck, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.hsck, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="sotc">Số tín chỉ</label>
                                            @Html.EditorFor(model => model.sotc, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "2", @max = "5" } })
                                            @Html.ValidationMessageFor(model => model.sotc, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="tclt">Tín chỉ lý thuyết</label>
                                            @Html.EditorFor(model => model.tclt, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "1", @max = "5" } })
                                            @Html.ValidationMessageFor(model => model.tclt, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="tcth">Tín chỉ thực hành</label>
                                            @Html.EditorFor(model => model.tcth, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1" } })
                                            @Html.ValidationMessageFor(model => model.tcth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



