@model ProjectDAA1.mon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>mon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenmon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenmon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mamon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsqt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsqt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsgk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsgk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sotc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sotc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tclt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tclt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mon2.tenmon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mon2.tenmon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idmon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
