@model IEnumerable<ProjectDAA1.mon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenmon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsgk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sotc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsqt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tclt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tcth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mon2.tenmon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenmon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsgk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsqt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tclt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tcth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mon2.tenmon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mamon }) |
            @Html.ActionLink("Details", "Details", new { id=item.mamon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mamon })
        </td>
    </tr>
}

</table>
