@model ProjectDAA1.lop

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<br/>
<br/>
<h2>Create</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/lops">Lớp</a></strong>
                    <small>> Create</small>
                </div>
                <div class="card-body card-block">
                    <form method="post" action="/Admin/lops/Create" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-9">
                                <div class="text-danger">@ViewBag.err</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idmon">Mã môn và tên</label>
                                            @Html.DropDownList("idmon", (IEnumerable<SelectListItem>)ViewBag.idmon, "", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idmon, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idkhoa">Mã khoa và tên</label>
                                            @Html.DropDownList("idkhoa", (IEnumerable<SelectListItem>)ViewBag.idkhoa, "", htmlAttributes: new { @class = "form-control", @id = "selectkhoa" })
                                            @Html.ValidationMessageFor(model => model.idkhoa, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idgv">Mã giáo viên</label>
                                            @Html.DropDownList("idgv", new SelectList(" "), htmlAttributes: new { @class = "form-control", @id = "selectgv" })
                                            @Html.ValidationMessageFor(model => model.idgv, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="iddkhp">Mã và tên dkhp</label>
                                            @Html.DropDownList("iddkhp", (IEnumerable<SelectListItem>)ViewBag.iddkhp, "", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.iddkhp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="thu">Thứ</label>
                                            @Html.EditorFor(model => model.thu, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "2", @max = "7" } })
                                            @Html.ValidationMessageFor(model => model.thu, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="tietbd">tiết bắt đầu</label>
                                            @Html.EditorFor(model => model.tietbd, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "1", @max = "10" } })
                                            @Html.ValidationMessageFor(model => model.tietbd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

