@model ProjectDAA1.lop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/khoas">Khoa</a></strong>
                    <small>> Detail</small>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="malop">Mã lớp :</label>
                                    @Html.DisplayFor(model => model.malop, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã giảng viên :</label>
                                    @Html.DisplayFor(model => model.giangvien.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã môn :</label>
                                    @Html.DisplayFor(model => model.mon.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã khoa :</label>
                                    @Html.DisplayFor(model => model.khoa.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã đăng ký học phần :</label>
                                    @Html.DisplayFor(model => model.dangkyhocphan.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="thu">Thứ :</label>
                                    @Html.DisplayFor(model => model.thu, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tietbd">Tiết bắt đầu :</label>
                                    @Html.DisplayFor(model => model.tietbd, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tietkt">Tiết kết thúc :</label>
                                    @Html.DisplayFor(model => model.tietkt, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row p-3">
                                <a class="btn btn-success" href="/Admin/lops/Edit/@Model.idlop">Edit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


