@model ProjectDAA1.lop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>lop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.malop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.malop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tietbd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tietbd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tietkt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tietkt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dangkyhocphan.namhoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dangkyhocphan.namhoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giangvien.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giangvien.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khoa.tenkhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khoa.tenkhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mon.tenmon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mon.tenmon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idlop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
