@model IEnumerable<ProjectDAA1.lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<Br />
<Br />
<Br />
<Br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.thu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tietbd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tietkt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dangkyhocphan.namhoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giangvien.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.khoa.tenkhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mon.tenmon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.thu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tietbd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tietkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dangkyhocphan.namhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giangvien.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khoa.tenkhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mon.tenmon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.malop }) |
                @Html.ActionLink("Details", "Details", new { id = item.malop }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.malop })
            </td>
        </tr>
    }

</table>
