@model ProjectDAA1.thongbao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>thongbao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigiandang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigiandang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taikhoan.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taikhoan.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matb }) |
    @Html.ActionLink("Back to List", "Index")
</p>
