@model IEnumerable<ProjectDAA1.thongbao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tieude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoigiandang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoigiancapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taikhoan.matk)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoigiandang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoigiancapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taikhoan.matk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idtb }) |
                @Html.ActionLink("Details", "Details", new { id = item.idtb }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idtb })
            </td>
        </tr>
    }

</table>
