@model ProjectDAA1.dangkyhocphan

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/dangkyhocphans">ĐĂNG KÍ HỌC PHẦN</a></strong>
                    <small>> Sửa thông tin đăng kí</small>
                </div>
                <div class="card-body card-block" style="font-family:arial">
                    <form method="post" action="/Admin/dangkyhocphans/Create" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-9">
                                <div class="text-danger">@ViewBag.err</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="namhoc">Năm học</label>
                                            <input type="text" id="namhoc" name="namhoc" class="form-control">
                                            @Html.ValidationMessageFor(model => model.namhoc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="thoigianbd">Ngày bắt đầu</label>
                                        <input type="date" id="thoigianbd" name="thoigianbd" class="form-control">
                                        @Html.ValidationMessageFor(model => model.thoigianbd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="thoigiankt">Ngày kết thúc</label>
                                        <input type="date" id="thoigiankt" name="thoigiankt" class="form-control">
                                        @Html.ValidationMessageFor(model => model.thoigiankt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class=" form-control-label" for="hocky">Học kỳ</label>
                                        <select class="form-control" id="hocky" style="height:auto;" name="hocky">
                                            <option value="1">Học kỳ 1</option>
                                            <option value="2">Học kỳ 2</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.hocky, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>