@model ProjectDAA1.dangkyhocphan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>dangkyhocphan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hocky)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hocky)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namhoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namhoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigianbd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigianbd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigiankt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigiankt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.madkhp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
