@model ProjectDAA1.dangkyhocphan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/sinhviens">ĐĂNG KÝ HỌC PHẦN</a></strong>
                    <small>> Sửa đăng kí học phần</small>
                </div>
                <div class="card-body card-block">
                    <form method="post" action="/Admin/dangkyhocphans/Edit" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.iddkhp)
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="hoten">Năm học:</label>
                                            @Html.EditorFor(model => model.namhoc, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.namhoc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="hocky">Giới tính</label>
                                        <select class="form-control" id="hocky" style="height:auto;" name="hocky">
                                            <option value="1">Học kỳ 1</option>
                                            <option value="2">Học kỳ 2</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.hocky, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="thoigianbd">Ngày bắt đầu</label>
                                        <input type="date" id="thoigianbd" name="thoigianbd" value="@String.Format("{0:yyyy-MM-dd}", Model.thoigianbd)">
                                        @Html.ValidationMessageFor(model => model.thoigianbd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="thoigiankt">Ngày kết thúc</label>
                                        <input type="date" id="thoigiankt" name="thoigiankt" value="@String.Format("{0:yyyy-MM-dd}", Model.thoigiankt)">
                                        @Html.ValidationMessageFor(model => model.thoigiankt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>

                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>