@model IEnumerable<ProjectDAA1.sinhvien>

@{
    ViewBag.Title = "dsSVLopCN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <h2 class="text-uppercase text-center font-weight-bold"> Danh sách sinh viên </h2>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Họ tên sinh viên
                    </th>
                    <th>
                        Mã sinh viên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Quê quán
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Bậc học
                    </th>
                    <th>
                        Mã lớp
                    </th>
                    
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.hoten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.masv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gioitinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngaysinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.diachi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quequan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bachoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lopcn.malopcn)
                        </td>
                       
                    </tr>
                }

        </table>
    </div>
</div>