@model ProjectDAA1.Models.DBContext
@{
    ViewBag.Title = "GetBangDiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <br />
        <form method="post" action="#">
            <button id="btnNhapDiem" type="reset" class="btn btn-primary mb-2"> Nhập điểm </button>
            <br />
            <div id="NhapDiem">
                <br />
                <input hidden name="id" value="@Model.id"/>
                <select id="cbbNhapDiem" class="form-control col-sm-2" required oninvalid="this.setCustomValidity('Chọn điểm cần nhập')">
                    <option hidden disabled selected value="">Điểm cần nhập</option>
                    @{
                        if (Model.mon.hsqt != 0)
                        {
                            <option value="diemqt"> Điểm QT </option>
                        }
                        if (Model.mon.hsth != 0)
                        {
                            <option value="diemth"> Điểm TH </option>
                        }
                        if (Model.mon.hsgk != 0)
                        {
                            <option value="diemgk"> Điểm GK </option>
                        }
                        if (Model.mon.hsck != 0)
                        {
                            <option value="diemck"> Điểm CK </option>
                        }
                    }
                </select>
                <br />
                <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control col-sm-2" required oninvalid="this.setCustomValidity('Chọn file')"/>
                <br />
                <button type="submit" class="btn btn-secondary mb-2">Xác nhận</button>
                <br />
            </div>
        </form>

        <div class="d-flex justify-content-center">
            <h2 class="text-uppercase font-weight-bold"> Bảng điểm </h2>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>STT</th>
                    <th>MSSV</th>
                    <th>Họ tên</th>
                    <th>Điểm QT</th>
                    <th>Điểm TH</th>
                    <th>Điểm GK</th>
                    <th>Điểm CK</th>
                    <th>Điểm TB</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    foreach (var item in Model.dsbd)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.masv</td>
                            <td>@item.hoten</td>
                            <td>@item.diemqt</td>
                            <td>@item.diemth</td>
                            <td>@item.diemgk</td>
                            <td>@item.diemck</td>
                            <td>@item.diemtb</td>
                            <td>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

