@model IEnumerable<ProjectDAA1.dangkyhocphan>
@{
    ViewBag.Title = "GetTKB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <input id="idgv" value="@ViewBag.gv.idgv" hidden />
        <select id="cbbtkb" class="nhutmargin form-control col-3">
            @foreach (var m in Model)
            {
                <option value="@m.iddkhp">học kỳ @m.hocky năm học @m.namhoc</option>
            }
        </select>
        <br />
        <h2 class="text-uppercase text-center font-weight-bold"> THỜI KHOÁ BIỂU </h2>
        <div class="text-center">Mã GV: @ViewBag.gv.magv</div>
        <table class="table nhutborder">
            <thead class="thead-light nhutborder">
                <tr class="table nhutborder text-center">
                    <th>Thứ / tiết</th>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                    <th>Thứ 7</th>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var idgv = $("#idgv").val();
            var iddkhp = $("#cbbtkb").val();
            FuncTkbTable();
            FuncTkbAjax(idgv, iddkhp);

            $("#cbbtkb").change(function () {
                var selectval = $(this).val();
                FuncTkbTable();
                FuncTkbAjax(idgv, selectval);
            });

            function FuncTkbAjax(idgv, iddkhp) {
                if (idgv === undefined) {
                    idgv = 0;
                }
                if (iddkhp === undefined) {
                    iddkhp = 0;
                }
                $.ajax({
                    type: "get",
                    data: { iddkhp: iddkhp, idgv: idgv },
                    url: "/Teacher/ajaxTKB",
                    success: function (data) {
                        $.each(data, function (index, val) {
                            var sotiet = val.tietkt - val.tietbd + 1;
                            var p = $("#thu" + val.thu + "tiet" + val.tietbd);
                            p.css("background-color", "#ebebeb");
                            p.css("padding-top", "100px");
                            p.css("padding-bottom", "100px");
                            p.addClass("nhutborder");
                            p.append("<div class='nhuttenmon'> <b>" + val.malop + "</b> <br />" + val.tenmon + "<br />" + "lt: " + val.tclt + " / th:" + val.tcth + "</p>");
                            p.attr('rowspan', sotiet);
                            for (i = val.tietbd + 1; i <= val.tietkt; i++) {
                                $("#thu" + val.thu + "tiet" + i).remove();
                            }
                        });
                    },
                    error: function (error) {
                        alert('failed');
                    }
                });
            }

            function FuncTkbTable() {
                var str = '';
                str += '<tr><td class="nhutborder text-center">Tiết 1<br>(7:30 - 8:15)</td><td id="thu2tiet1"></td><td id="thu3tiet1"></td><td id="thu4tiet1"></td><td id="thu5tiet1"></td><td id="thu6tiet1"></td><td id="thu7tiet1"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 2<br>(8:15 - 9:00)</td><td id="thu2tiet2"></td><td id="thu3tiet2"></td><td id="thu4tiet2"></td><td id="thu5tiet2"></td><td id="thu6tiet2"></td><td id="thu7tiet2"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 3<br>(9:00 - 9:45)</td><td id="thu2tiet3"></td><td id="thu3tiet3"></td><td id="thu4tiet3"></td><td id="thu5tiet3"></td><td id="thu6tiet3"></td><td id="thu7tiet3"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 4<br>(10:00 - 10:45)</td><td id="thu2tiet4"></td><td id="thu3tiet4"></td><td id="thu4tiet4"></td><td id="thu5tiet4"></td><td id="thu6tiet4"></td><td id="thu7tiet4"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 5<br>(10:45 - 11:30)</td><td id="thu2tiet5"></td><td id="thu3tiet5"></td><td id="thu4tiet5"></td><td id="thu5tiet5"></td><td id="thu6tiet5"></td><td id="thu7tiet5"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 6<br>(13:00 - 13:45)</td><td id="thu2tiet6"></td><td id="thu3tiet6"></td><td id="thu4tiet6"></td><td id="thu5tiet6"></td><td id="thu6tiet6"></td><td id="thu7tiet6"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 7<br>(13:45 - 14:30)</td><td id="thu2tiet7"></td><td id="thu3tiet7"></td><td id="thu4tiet7"></td><td id="thu5tiet7"></td><td id="thu6tiet7"></td><td id="thu7tiet7"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 8<br>(14:3 - 15:15)</td><td id="thu2tiet8"></td><td id="thu3tiet8"></td><td id="thu4tiet8"></td><td id="thu5tiet8"></td><td id="thu6tiet8"></td><td id="thu7tiet8"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 9<br>(15:30 - 6:15)</td><td id="thu2tiet9"></td><td id="thu3tiet9"></td><td id="thu4tiet9"></td><td id="thu5tiet9"></td><td id="thu6tiet9"></td><td id="thu7tiet9"></td></tr>';
                str += '<tr><td class="nhutborder text-center">Tiết 10<br>(16:15 - 17:00)</td><td id="thu2tiet10"></td><td id="thu3tiet10"></td><td id="thu4tiet10"></td><td id="thu5tiet10"></td><td id="thu6tiet10"></td><td id="thu7tiet10"></td></tr>';
                $("#tb").html(str);
            }
        });
    </script>
}
