@model ProjectDAA1.hoc

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<h2>Create</h2>

<div class="main-content" style="font-family:Arial">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/hocs">Học</a></strong>
                    <small>> Create</small>
                </div>
                <div class="card-body card-block">
                    <form method="post" action="/Admin/hocs/Create" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idlop">Mã lớp</label>

                                            @Html.DropDownList("idlop", (IEnumerable<SelectListItem>)ViewBag.idlop, htmlAttributes: new { @class = "nhutchose form-control" })
                                            @Html.ValidationMessageFor(model => model.idlop, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="idsv">Mã sinh viên</label>

                                            @Html.DropDownList("idsv", (IEnumerable<SelectListItem>)ViewBag.idsv, htmlAttributes: new { @class = "nhutchose form-control" })
                                            @Html.ValidationMessageFor(model => model.idsv, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="diemqt">Điểm quá trình</label>
                                        <input type="number" id="diemqt" name="diemqt" class="form-control">
                                        @Html.ValidationMessageFor(model => model.diemqt, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="diemth">Điểm thực hành</label>
                                        <input type="number" id="diemth" name="diemth" class="form-control">
                                        @Html.ValidationMessageFor(model => model.diemth, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="diemgk">Điểm giữa kỳ</label>
                                        <input type="number" id="diemgk" name="diemgk" class="form-control">
                                        @Html.ValidationMessageFor(model => model.diemgk, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="diemck">Điểm cuối kỳ</label>
                                        <input type="number" id="diemck" name="diemck" class="form-control">
                                        @Html.ValidationMessageFor(model => model.diemck, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label" for="diemtb">Điểm trung bình</label>
                                        <input type="number" id="diemtb" name="diemtb" class="form-control">
                                        @Html.ValidationMessageFor(model => model.diemtb, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

