@model ProjectDAA1.hoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/khoas">Khoa</a></strong>
                    <small>> Detail</small>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="makhoa">Mã học :</label>
                                    @Html.DisplayFor(model => model.idhoc, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã lớp :</label>
                                    @Html.DisplayFor(model => model.lop.malop, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã sinh viên :</label>
                                    @Html.DisplayFor(model => model.sinhvien.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="diemqt">Điểm quá trình :</label>
                                    @Html.DisplayFor(model => model.diemqt, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="diemth">Điểm thực hành :</label>
                                    @Html.DisplayFor(model => model.diemth, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="diemgk">Điểm giữa kỳ :</label>
                                    @Html.DisplayFor(model => model.diemgk, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="diemck">Điểm cuối kỳ :</label>
                                    @Html.DisplayFor(model => model.diemck, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="diemtb">Điểm trung bình :</label>
                                    @Html.DisplayFor(model => model.diemtb, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row p-3">
                                <a class="btn btn-success" href="/Admin/hocs/Edit/@Model.idhoc">Edit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h4>hoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diemqt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemqt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemgk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemgk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemtb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemtb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lop.malop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lop.malop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinhvien.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinhvien.hoten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idhoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
