@model ProjectDAA1.hoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diemqt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemqt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemgk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemgk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemtb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemtb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lop.magv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lop.magv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinhvien.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinhvien.hoten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
