@model IEnumerable<ProjectDAA1.khoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenkhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giangvien.hoten)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenkhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giangvien.hoten)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idkhoa }) |
                @Html.ActionLink("Details", "Details", new { id = item.idkhoa }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idkhoa })
            </td>
        </tr>
    }

</table>
