
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('~/Assets/Home/images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Cổng thông tin đào tạo</h2>
                <p>Trường Đại học Công nghệ Thông tin.</p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="/">Trang chủ</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Thông báo</span>
    </div>
</div>
<div class="site-section">
    <div class="container">
        @if (ViewBag.listthongbaochung != null)
        {
            <div class="row">

                @foreach (var item in ViewBag.thongBaoChung)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="course-1-item">
                            <figure class="thumnail">
                                <div class="price">@item.taikhoan.matk</div>
                                <div class="category"><h3>@item.tag</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>@item.tieude</h2>
                                <p><a href="/Home/Details/@item.idtb" class="btn btn-primary px-4 nhutbtn">Xem thêm</a></p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
        </div>
</div>

<div class="site-section">
    <div class="container">
        @if (ViewBag.listthongnghibu != null)
        {
            <label>Thông báo nghỉ bù</label>
            <div class="row">

                @foreach (var item in ViewBag.listthongnghibu)
                {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                            <div class="price">@item.taikhoan.matk</div>
                            <div class="category"><h3>@item.tag</h3></div>
                        </figure>
                        <div class="course-1-content pb-4">
                            <h2>@item.tieude</h2>
                            <p><a href="/Home/Details/@item.idtb" class="btn btn-primary px-4 nhutbtn">Xem thêm</a></p>
                        </div>
                    </div>
                </div>

                }

            </div>
        }
        </div>
</div>
<div class="section-bg style-1" style="background-image: url('~/Assets/Home/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Chất lượng đào tạo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Học tập suốt đời</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Chìa khóa dẫn tới thành công</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>