@model ProjectDAA1.taikhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/mons">Môn</a></strong>
                    <small>> Detail</small>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="matk">Mã tài khoản :</label>
                                    @Html.DisplayFor(model => model.matk, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="nhom">Mật khẩu :</label>
                                    @Html.DisplayFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="nhom">Loại tài khoản :</label>
                                    @Html.DisplayFor(model => model.nhom, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tclt">Tên và mã giảng viên :</label>
                                    @Html.DisplayFor(model => model.giangvien.tenvama, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã sinh viên :</label>
                                    @Html.DisplayFor(model => model.sinhvien.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row p-3">
                                <a class="btn btn-success" href="/Admin/taikhoans/Edit/@Model.idtk">Edit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

