@model ProjectDAA1.Models.taikhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>taikhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
