@model IEnumerable<ProjectDAA1.taikhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giangvien.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinhvien.hoten)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giangvien.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sinhvien.hoten)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idtk }) |
                @Html.ActionLink("Details", "Details", new { id = item.idtk }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idtk })
            </td>
        </tr>
    }

</table>
