@model IEnumerable<ProjectDAA1.Models.taikhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matk }) |
            @Html.ActionLink("Details", "Details", new { id=item.matk }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matk })
        </td>
    </tr>
}

</table>
