@model ProjectDAA1.thongbao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Create</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/thongbaos">Thông báo</a></strong>
                    <small>> Create</small>
                </div>
                <div class="card-body card-block">
                    <form method="post" action="/thongbaos/Create" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.idtk)
                        <div class="row">
                            <div class="col-md-9">
                                <div class="text-danger">@ViewBag.err</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="tieude">Tiêu đề</label>
                                            @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control", @required = true, @min = "0", @max = "1", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="noidung">Nội dung</label>
                                            @Html.EditorFor(model => model.noidung, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.noidung, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class=" form-control-label" for="tag">Tag thông báo</label>
                                            <select class="form-control" id="tag" style="height:auto;" name="tag">
                                                <option value="THÔNG BÁO NGHỈ, BÙ">THÔNG BÁO NGHỈ, BÙ</option>
                                                <option value="THÔNG BÁO CHUNG">THÔNG BÁO CHUNG</option>
                                                <option value="THÔNG BÁO VỀ PHÒNG HỌC">THÔNG BÁO VỀ PHÒNG HỌC</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.tag, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label" for="file">Upload File</label>
                                            @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {

                                                <div>
                                                    @Html.TextBox("file", "", new { type = "file" }) <br />

                                                    @ViewBag.Message

                                                </div>


                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <button class="btn btn-success">Submit</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

