@model ProjectDAA1.thongbao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div class="nhutnewcontent">
    <h4>CHI TIẾT THÔNG BÁO</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.idtk)
        @Html.HiddenFor(model => model.idtb)
        <dt>
            TIÊU ĐỀ THÔNG BÁO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieude)
        </dd>

        <dt>
            NỘI DUNG THÔNG BÁO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noidung)
        </dd>


        <dt>
            FILE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

        <dt>
            THỜI GIAN ĐĂNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigiandang)
        </dd>

        <dt>
            THỜI GIAN CẬP NHẬT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigiancapnhat)
        </dd>

        <dt>
            MÃ TÀI KHOẢN ĐĂNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taikhoan.matk)
        </dd>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.idtb }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </dl>
</div>

