@model ProjectDAA1.thongbao

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<h2>Edit</h2>
<div class="nhutnewcontent">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idtk)
    <div class="form-horizontal">
        <h4>SỬA THÔNG BÁO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idtb)

        <div class="form-group">
            TIÊU ĐỀ
            <div class="col-md-10">
                @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           NỘI DUNG
            <div class="col-md-10">
                @Html.EditorFor(model => model.noidung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noidung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            TAG
            <div class="col-md-6">
                <label class=" form-control-label" for="tag">Tag thông báo</label>
                <select class="form-control" id="tag" style="height:auto;" name="tag">
                    <option value="THÔNG BÁO NGHỈ, BÙ">THÔNG BÁO NGHỈ, BÙ</option>
                    <option value="THÔNG BÁO CHUNG">THÔNG BÁO CHUNG</option>
                    <option value="THÔNG BÁO VỀ PHÒNG HỌC">THÔNG BÁO VỀ PHÒNG HỌC</option>
                </select>
                @Html.ValidationMessageFor(model => model.tag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <label class=" form-control-label" for="file">Upload File</label>
            @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />
                File cũ <br/>
                @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @ViewBag.Message

            </div>


            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>