@model IEnumerable<ProjectDAA1.thongbao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<h2>Index</h2>
<div class="nhuttable">


<p>
    @Html.ActionLink("Tạo thông báo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            TIÊU ĐỀ
        </th>
        <th>
            NỘI DUNG
        </th>
       
        <th>
            File
        </th>
        
        <th>
            Tài khoản đăng
        </th>
        <th>
            Chức năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noidung)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.file)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.taikhoan.matk)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtb }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtb }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtb })
        </td>
    </tr>
}

</table>
</div>