@model ProjectDAA1.Models.DBContext
@{
    ViewBag.Title = "DKHP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <div class="d-flex justify-content-center">
            <h2 class="text-uppercase font-weight-bold"> DANH SÁCH LỚP </h2>
        </div>
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.dslopchuadk)
                {
                    <tr class="tablerow">
                        <td class="checkeditem">
                            <input type="checkbox" class="checked-lop"
                                   value="@item.idlop"
                                   data-id="@item.idlop"
                                   data-malop="@item.malop"
                                   data-tengv="@item.tengv"
                                   data-mamon="@item.mamon"
                                   data-tenmon="@item.tenmon"
                                   data-tc="@item.strtinchi"
                                   data-ca="@item.strca" />
                        </td>
                        <td>@item.malop</td>
                        <td>@item.mamon</td>
                        <td>@item.tenmon</td>
                        <td>@item.tengv</td>
                        <td>@item.strtinchi</td>
                        <td>@item.strca</td>
                    </tr>
                }

                @foreach (var item in Model.dslopdadk)
                {
                    <tr class="table-success">
                        <td class="checkeditem">
                            <input type="checkbox" class="checked-lop" checked disabled
                                   value="@item.idlop"
                                   data-id="@item.idlop"
                                   data-malop="@item.malop"
                                   data-tengv="@item.tengv"
                                   data-mamon="@item.mamon"
                                   data-tenmon="@item.tenmon"
                                   data-tc="@item.strtinchi"
                                   data-ca="@item.strca" />
                        </td>
                        <td>@item.malop</td>
                        <td>@item.mamon</td>
                        <td>@item.tenmon</td>
                        <td>@item.tengv</td>
                        <td>@item.strtinchi</td>
                        <td>@item.strca</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="text-success" id="thanhcong"></div>
        <div class="text-danger" id="loidkhp"></div>
        <div class="d-flex justify-content-center">
            <h2 class="text-uppercase font-weight-bold"> DANH SÁCH LỚP ĐÃ CHỌN </h2>
        </div>
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody id="danhsach">
                <tr id="clear">
                    <td colspan="6" class="text-center">Danh sách trống</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="d-flex justify-content-end">
            <button id="dkhp" type="button" class="btn btn-primary btn-lg" disabled>Đăng ký</button>
        </div>
    </div>
</div>
