@model ProjectDAA1.Models.DBContext
@{
    ViewBag.Title = "DKHP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <h2> DANH SÁCH LỚP </h2>
        <br />
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.dslopchuahoc)
                {
                    <tr>
                        <td class="checkeditem">
                            <input type="checkbox" class="checked-lop"
                                   value="@item.idlop"
                                   data-id="@item.idlop"
                                   data-malop="@item.malop"
                                   data-tengv="@item.tengv"
                                   data-mamon="@item.mamon"
                                   data-tenmon="@item.tenmon"
                                   data-tc="@item.strtinchi"
                                   data-ca="@item.strca" />
                        </td>
                        <td>@item.malop</td>
                        <td>@item.mamon</td>
                        <td>@item.tenmon</td>
                        <td>@item.tengv</td>
                        <td>@item.strtinchi</td>
                        <td>@item.strca</td>
                    </tr>
                }

                @foreach (var item in Model.dslopdahoc)
                {
                    <tr>
                        <td class="checkeditem">
                            <input type="checkbox" class="checked-lop"
                                   value="@item.idlop"
                                   data-id="@item.idlop"
                                   data-malop="@item.malop"
                                   data-tengv="@item.tengv"
                                   data-mamon="@item.mamon"
                                   data-tenmon="@item.tenmon"
                                   data-tc="@item.strtinchi"
                                   data-ca="@item.strca" />
                        </td>
                        <td>@item.malop</td>
                        <td>@item.mamon</td>
                        <td>@item.tenmon</td>
                        <td>@item.tengv</td>
                        <td>@item.strtinchi</td>
                        <td>@item.strca</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h2> DANH SÁCH LỚP ĐÃ CHỌN </h2>
        <div class="text-success" id="thanhcong"></div>
        <div class="text-danger" id="loidkhp"></div>
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody id="danhsach">
                <tr id="clear">
                    <td colspan="6" class="text-center">Danh sách trống</td>
                </tr>
            </tbody>
        </table>

        <button id="dkhp" class="btn-primary" disabled>Đăng ký</button>
    </div>
</div>
