@model IEnumerable<ProjectDAA1.lop>

@{
    ViewBag.Title = "HuyDKHP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <input hidden id="id" name="id" value="@ViewBag.id"/>
        <h2 class="text-uppercase text-center font-weight-bold"> DANH SÁCH LỚP </h2>
        <table id="example" class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tablerow">
                        <td class="checkeditem">
                            <input type="checkbox" class="checked-lop"
                                   value="@item.idlop"
                                   data-id="@item.idlop"
                                   data-malop="@item.malop.ToString()"
                                   data-mamon="@item.mon.mamon.ToString()"
                                   data-tenmon="@item.mon.tenmon.ToString()"
                                   data-tengv="@item.giangvien.hoten.ToString()"
                                   data-tc="@item.mon.strtinchi.ToString()"
                                   data-ca="@item.strca.ToString()" />
                        </td>
                        <td>@item.malop.ToString()</td>
                        <td>@item.mon.mamon.ToString()</td>
                        <td>@item.mon.tenmon.ToString()</td>
                        <td>@item.giangvien.hoten.ToString()</td>
                        <td>@item.mon.strtinchi.ToString()</td>
                        <td>@item.strca.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="text-success" id="thanhcong"></div>
        <div class="text-danger" id="loidkhp"></div>
        <h2 class="text-uppercase text-center font-weight-bold"> DANH SÁCH LỚP ĐÃ CHỌN </h2>
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Mã lớp</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Tín chỉ</th>
                    <th>Thứ / ca</th>
                </tr>
            </thead>
            <tbody id="danhsach">
                <tr id="clear">
                    <td colspan="6" class="text-center">Danh sách trống</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="d-flex justify-content-end">
            <button id="huydkhp" type="button" class="btn btn-primary btn-lg" disabled>Huỷ đăng ký</button>
        </div>
    </div>
</div>

