@model ProjectDAA1.Models.DBContext
@{
    ViewBag.Title = "GetKQHT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section">
    <div class="container">
        <br />
        <br />
        <div class="d-flex justify-content-center">
            <h2 class="text-uppercase font-weight-bold"> KẾT QUẢ HỌC TẬP </h2>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Tín chỉ</th>
                    <th>Điểm QT</th>
                    <th>Điểm TH</th>
                    <th>Điểm GK</th>
                    <th>Điểm CK</th>
                    <th>Điểm TB</th>
                </tr>
            </thead>
            <tbody id="tb">
                @foreach (var dk in Model.dsdkhp)
                {
                    <tr class="table-active"><td colspan="9">Học kỳ @dk.hocky năm học @dk.namhoc</td></tr>
                    var count = 0;
                    foreach (var bd in Model.dsbd)
                    {
                        if (bd.iddkhp == dk.iddkhp)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@bd.mamon</td>
                                <td>@bd.tenmon</td>
                                <td>@bd.sotc.ToString()</td>
                                <td>@bd.diemqt.ToString()</td>
                                <td>@bd.diemth.ToString()</td>
                                <td>@bd.diemgk.ToString()</td>
                                <td>@bd.diemck.ToString()</td>
                                <td>@bd.diemtb.ToString()</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

