@model ProjectDAA1.file

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>file</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thongbao.tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thongbao.tieude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idfile }) |
    @Html.ActionLink("Back to List", "Index")
</p>
