@model IEnumerable<ProjectDAA1.sinhvien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="deleteuser(@(ViewBag.item))" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade" id="idThongBaoXoaSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Đã tồn tại lớp chứa sinh viên này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="user-data m-b-30">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="title-3 m-b-30">
                            <i class="zmdi zmdi-account-calendar"></i>DANH SÁCH SINH VIÊN
                        </h3>
                    </div>
                    <div class="col-md-2">
                        <a href="/Admin/sinhviens/Create" class="btn btn-success btn-lg" style="border-radius: 15px;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>

                <div class="table-responsive table-data" style="font-family:Arial">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:center">
                                    Họ tên
                                </th>
                                <th scope="col" style="text-align:center">
                                    MSSV
                                </th>
                                <th scope="col" style="text-align:center">
                                    Giới tính
                                </th>
                                <th scope="col" style="text-align:center">
                                    Ngày sinh
                                </th>
                                <th scope="col" style="text-align:center">
                                    SĐT
                                </th>
                                <th scope="col" style="text-align:center">
                                    Bậc học
                                </th>
                                <th scope="col" style="text-align:center">
                                    Lớp
                                </th>
                                <th scope="col" style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.hoten)
                                    </td>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.masv)
                                    </td>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.gioitinh)
                                    </td>
                                    <td scope="row">
                                        @String.Format("{0:dd/MM/yyyy}", item.ngaysinh)
                                        @*@item.ngaysinh.Value.ToString("dd/MM/yyyy")*@
                                    </td>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.sdt)
                                    </td>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.bachoc)
                                    </td>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.lopcn.malopcn)
                                    </td>
                                    <td scope="row">
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.idsv }) |
                            @Html.ActionLink("Details", "Details", new { id = item.idsv }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.idsv })*@
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" onclick="edituser(@item.idsv)" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" onclick="getid(@item.idsv)" data-toggle="modal" data-target="#exampleModal" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" onclick="detailuser(@item.idsv)" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
