@model IEnumerable<ProjectDAA1.Models.giangday>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.diemgk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diemck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diemtb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lop.magv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinhvien.hoten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.diemgk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diemck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diemtb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lop.magv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinhvien.hoten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
